body{
    position: relative;
}

.top-right{
    display: flex;
    justify-content: flex-end;
}

.Logo{
    margin-top: 120px;
    text-align: center;
    height: 100%;
    width: 100%;
}

.search{
    display: flex;
    align-items: center;   
    justify-content: center;
    border-style: solid;
    margin: auto;
    width: 800px;
    height: 50px;
    border-radius: 50px;
    border-width: 1px;
    border-color: #e0e0e0;
    margin-top: 50px;
    box-shadow: 0 0 4px;
    right: 10px;
}

.search1-1, .mic-1, .cam-1, .expe-1 ,.apps-1{
    height: 100%;
    width: 100%;
}

.search1, .mic, .cam, .expe, .apps{
    height: 30px;
    width: 30px;
}

.gmailLogo:hover, .upImg:hover{
    cursor: pointer;
}
.gmailLogo:after, .upImg:after {
    display:block;
    content: '';
    border-bottom: solid 1px gray;  
    transform: scaleX(0);  
}
.gmailLogo:hover:after, .upImg:hover:after { 
    transform: scaleX(1); 
}

.expe:hover, .mic:hover, .cam:hover{
    cursor: pointer;
}

.expe:hover, .apps:hover{
    border-radius: 50px;
    background-color: rgb(234, 230, 230);
}
.input{
    margin-left: 5px;
    margin-right: 5px; 
}

.input-box{
    width: 660px;
    height: 30px;
    border-width: 0;
    font-size: larger;
}

.input-box:focus{
    outline:none;
}

input:focus::placeholder{
    color:transparent;
}

.upImg, .expe, .apps{
    margin-left: 50px;
}

/* 바로가기 */
.shortcut {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px; 
    margin-top: 30px;
}

.cir {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.naver, .youtube, .daum {
    width: 70px; 
    height: 70px;
    background-color: #e0e0e0; 
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(216, 212, 212, 0.1);
}

.goTo{
    width: 70px; 
    height: 70px;
    border-radius: 50%; 
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(216, 212, 212, 0.1);
    background-color: rgb(216, 227, 250);
}

.naver img, .youtube img, .daum img, .goToImg{
    width: 40px; 
    height: 40px;
    object-fit: cover; 
    border-radius: 50%;
}

.cirName {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}

.squ1, .squ2, .squ3, .squ4{
    width: 150px;
    height: 170px;
    border-radius: 8px;
    display: flex;  
    justify-content: center;  
    align-items: center;
    transition: background-color 0.3s ease;
    position: relative;
}

.dotImg{
    width: 30px;
    height: 30px;
}

.iconDot{
    position: absolute;
    top: 10px;  
    right: 10px;
    opacity: 0;
}

.squ1:hover, .squ2:hover, .squ3:hover, .squ4:hover{
    background-color: rgb(168, 166, 166);
    cursor: pointer;
}

.squ1:hover .iconDot, .squ2:hover .iconDot, .squ3:hover .iconDot {
    opacity: 1;  
    transition: opacity 2s;
}

.iconDot:hover .dotImg{
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: gray;
}

/* 우측 하단 맞춤설정 */
.pageSetting{
    background-color: rgb(216, 227, 250);
    display: flex;
    width: 180px;
    border-radius: 50px;
    height: 30px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed; 
    bottom: 20px; 
    right: 20px; 
    gap: 8px;
}

.pageSetting img{
    width: 20px;
    height: 25px;
}

.pageSetting:hover{
    cursor: pointer;;
}

/* 드롭다운 기본 스타일 */
.apps {
    position: relative;
    display: inline-block;
}

.apps-1 {
    cursor: pointer;
}

.dropdown {
    position: absolute;
    top: 40px; /* 아이콘 아래에 표시 */
    right: 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none; 
    width: 400px; 
    max-height: 400px; 
    overflow-y: auto; 
    z-index: 100;
    background-color: rgb(199, 205, 217);
}

.dropdown.active {
    display: flex; 
    flex-direction: column; /* 세로로 배치 */
    align-items: center; /* 수평 가운데 정렬 */
}

.box {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3개씩 한 줄 */
    gap: 10px; /* 아이템 간격 */
    padding: 10px;
}

#box1{
    background-color: #f9f9f9;
    margin: 10px;
}

.item {
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
}

.item:hover {
    background: rgb(199, 205, 217);
}

.SeeMoreBtn {
    width: 200px;
    border: solid 1px;
    border-radius: 30px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column; 
    padding: 10px 0;
}

.SeeMoreBtn span {
    text-align: center;
    font-size: 14px;
    color: #0b57d0;
}

.SeeMoreBtn:hover{
    background-color: #f9f9f9;
    cursor: pointer;
}